table.meteogram-table {
	display: block;
	margin-left: 34px;
	overflow-x: scroll;
	width: auto;
	font-size: 12px;
	border: 1px solid rgba(34,36,38,.15);
	border-collapse: separate;
}

.meteogram-table th {
	width: 32px;
	height: 24px;
	padding: 4px;
	border-left: 1px solid rgba(34,36,38,.1);
	border-top: 1px solid rgba(34,36,38,.1);
}

.time-header-day th {
	text-align: left;
}

.meteogram-table td {
	width: 32px;
	height: 24px;
	padding: 2px 4px;
	text-align: center;
	border-left: 1px solid rgba(34,36,38,.1);
	border-top: 1px solid rgba(34,36,38,.1);
}

.meteogram {
	position: relative;
	height: 267px;
}

.meteogram-legend {
	position: absolute;
	top: 58px;
	left: 0;
	width: 34px;
	background: #eaeaea;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}

.legend-upper {
	font-size: 10px;
}

.legend-surface-wind {
	font-size: 10px;
	height: 41px;
	line-height: 41px;
}

.wind {
	font-size: 10px;
	line-height: 16px;
}
	
.wind-upper {
	font-size: 10px;
}

.wind svg {
	margin-top: 2px;
}

.wind-upper svg {
	margin-right: 6px;
	vertical-align: middle;
}

.wind-arrow {
	width: 14px;
}

.place-name {
	font-size: 16px;
	padding: 6px;
}
